#contentContainer {
  position: relative;
  left:2px;
  width: 800px;
  height: 600px;
  border: 1px black solid;
  overflow: hidden;
  background-color: #EEE;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #555, #555), linear-gradient(to right, #555, #555);
  background-repeat: no-repeat;
  background-size: 1px 100%, 100% 1px;
  background-position: 250px 0px, 0px 10px;
}
#thing {
  position: relative;
  width:40px;
  height:40px;
  left: 50px;
  top: 50px;
  background-color:red;
  transition: left .8s cubic-bezier(.42,-0.3,.78,1.25), 
      top .8s cubic-bezier(.42,-0.3,.78,1.25);
}
.rectangle-1{
  height: 600px;
  width: 5px;
  position: relative;
  background-color: #555;
  left: 450px;
  padding: 0;
  margin: 0;
}
.rectangle-2{
  
}